* {
	padding: 0;
	margin: 0;
	border: 0px none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 1.5;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	flex: 0 0 auto;
	
}
.header .container {
	background-color: #C9F76F;
	border-bottom: 1px solid #8B4513;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}
.nav {
}
.nav-list {
	display: flex;
	justify-content: flex-end;
}
.nav-item {
	margin: 25px 0 25px 25px;
	list-style: none;
}

.nav-item:last-child {
	margin: 25px;
}

.nav-link {
	color: #2F4F4F;
	text-decoration: none;
}
.main-conteiner .container {
}
.columns {
	display: flex;

}
.column-left {
	
	flex-basis: auto;
	background-color: #C9F76F;
	padding: 0 0 0 25px;
}
.profile {
}
.cv-photo img { width: 250px;
}
.name {
}
.contacts {
	padding: 0 20px;
}
.skills {
	padding: 0 20px;
}
.languages {
	padding: 0 20px;
}
.languages-content {
}
.column-right {
	flex-basis: auto;
	padding: 0 0 0 25px;
	margin: 0 auto;
}
.summary p {
	flex-wrap: wrap;
}
.education {
}
.education-title {
}
.education-list {
}
.education-list-item {
}
.experience {
}
.code {
}
.footer {
	flex: 0 0 auto;
}

.footer .container {
	background-color: #C9F76F;
	border-top: 1px solid #8B4513;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	padding: 25px;
}
.footer-row-logo {
}
.footer-row-logo img {
	width: 100px;
}
.footer-row-text {
}
.footer-row-link {
}
